@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
body {
  height: 100%; margin: 0
}

a {
    color: #007bff;
  text-decoration: none;
}
button:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
a,
a:hover{
  text-decoration: none;
}

body{
  font-family: 'Roboto', sans-serif;
  
}
h1{
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#chart {
  height: 500px;
  width: 500px;
}